<a href="https://colab.research.google.com/github/JuhyeongKi/baekjoon/blob/main/baekjoon_220308_char%2C_str_%EC%B0%A8%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제
 세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

# 입력
 첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다. A, B, C는 모두 100보다 크거나 같고, 1,000보다 작은 자연수이다.

# 출력
 첫째 줄에는 A × B × C의 결과에 0 이 몇 번 쓰였는지 출력한다. 마찬가지로 둘째 줄부터 열 번째 줄까지 A × B × C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.

In [ ]:
A = int(input())
B = int(input())
C = int(input())

D = list(str(A*B*C))

150
266
427

In [ ]:
type('1')

str

In [106]:
# 틀림
for i in range(0,10):
    print(D.count('i'))

0
0
0
0
0
0
0
0
0
0

In [107]:
# 맞음
for i in range(0,10):
  print(D.count(str(i)))

3
1
0
2
0
0
0
2
0
0

string과 'i' 는 다른것인가??

=> string과 char의 차이로서

**차이점은 크게 2가지로 글자수의 제한과 내용물의 차이입니다.**

**char 같은 경우는 내용물이 1개의 문자로 제한되는 반면에 String은 그런 제한이 없이 문자를 담을 수 있습니다.**

**내용물의 차이는 char는 해당 변수 안에 값을 직접적으로 가지고 있고 해당 값이 있는 좌표를 가지고 있지 않습니다.**

**String은 char와 달리 클래스타입의 변수이기에 생성 시 해당 변수 안의 값을 가지는 게 아니라 임의로 만들어진 값이 들어있는 위치의 좌표를 내용물로 가집니다.**

**char a= 'a' 면 a라는 변수 안에는 a라는 값이 있지만**

**String abc='abc'는 abc라는 변수 안에는 'abc'가 아니라 'abc'라는 텍스트가 위치한 좌표 "xxxxxxx(임의)' 를 가집니다.**

**이 차이점에서 발생하는 것이 ==의 사용가능 여부입니다. char 같은 경우는 값이 같다면 ==를 사용할 수 있지만 String은 내용이 같더라도 String 생성시마다 서로 다른 좌표가 생성되기에 ==를 사용하면 같지 않다는 결과가 나옵니다. 이를 위한 해결책으로 .equals() 를 이용하여 스트링의 내용물이 실제 같은지를 확인하여 같은 지 여부를 파악합니다.**

# 문제
 문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오. 즉, 첫 번째 문자를 R번 반복하고, 두 번째 문자를 R번 반복하는 식으로 P를 만들면 된다. S에는 QR Code "alphanumeric" 문자만 들어있다.

QR Code "alphanumeric" 문자는 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./: 이다.

# 입력
 첫째 줄에 테스트 케이스의 개수 T(1 ≤ T ≤ 1,000)가 주어진다. 각 테스트 케이스는 반복 횟수 R(1 ≤ R ≤ 8), 문자열 S가 공백으로 구분되어 주어진다. S의 길이는 적어도 1이며, 20글자를 넘지 않는다. 

# 출력
 각 테스트 케이스에 대해 P를 출력한다.

In [135]:
case = int(input())

for i in range(case):
  C, S = map(str ,input().split())
  S=list(S)
  for j in range(len(S)):
    print(int(C)*S[j], end='') 
  print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

# 문제
 N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

# 입력
 첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 9보다 작거나 같다.

# 출력
 출력형식과 같게 N*1부터 N*9까지 출력한다.

In [139]:
N = int(input())

for i in range(1,10):
  print('{0} * {1} = {2}'.format(N, i, N * i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 문제
 자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

# 입력
 첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.

# 출력
 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [143]:
N = int(input())

for i in range(1,N+1):
  print(i)

5
1
2
3
4
5

# 문제
 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

# 입력
 첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.

# 출력
 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [145]:
N = int(input())

for i in range(1,N+1):
  print((N+1)-i)

5
5
4
3
2
1

# 문제
 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

# 입력
 첫째 줄에 연도가 주어진다. 연도는 1보다 크거나 같고, 4000보다 작거나 같은 자연수이다.

# 출력
 첫째 줄에 윤년이면 1, 아니면 0을 출력한다.

In [149]:
Y = int(input())

if Y%4==0 and Y%100!=0:
  print('1')
elif Y%100==0 and Y%400!=0:
  print('0')
elif Y%400==0:
  print('1')
else:
  print('0')

1999
0