<a href="https://colab.research.google.com/github/JuhyeongKi/baekjoon/blob/main/baekjoon_220307.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제
 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

# 입력
 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

# 출력
 첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N):
    if j<=i:
      print('*', end='')
  print()

5
*
**
***
****
*****

# 문제
 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

# 입력
 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

# 출력
 첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [ ]:
N = int(input())

for i in range(N):
  print((N-(i+1))*' '+(i+1)*'*')

5
    *
   **
  ***
 ****
*****

# 문제
 9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

# 입력
 첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

# 출력
 첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

In [ ]:
# 틀림
M = list(map(int, input().split()))

for i in range(len(M)):
  print(M[i])

print(max(M))
print(M.index(max(M))+1)

3 29 38 12 57 74 40 85 61
3
29
38
12
57
74
40
85
61
85
8

In [ ]:
# 정답

A=[]
for i in range(0,9):
  if i<=9:
    B=(int(input()))
    A.append(B)
    continue
print(max(A))
print(A.index(max(A))+1)

3
29
38
12
57
74
40
85
61
85
8